<%= form_with(model: lock_attempt) do |form| %>
  <% if lock_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lock_attempt.errors.count, "error") %> prohibited this lock_attempt from being saved:</h2>

      <ul>
        <% lock_attempt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attempted %>
    <%= form.text_field :attempted %>
  </div>

  <div class="field">
    <%= form.label :errors %>
    <%= form.text_area :errors %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
