<p id="notice"><%= notice %></p>

<p>
  <strong>Attempted:</strong>
  <%= @lock_attempt.attempted %>
</p>

<p>
  <strong>Errors:</strong>
  <%= @lock_attempt.errors %>
</p>

<%= link_to 'Edit', edit_lock_attempt_path(@lock_attempt) %> |
<%= link_to 'Back', lock_attempts_path %>
